.assingn{
  font-size: 20px;
  opacity:4px;
}
#me{
  font-size: 16px;
}
.hoby{
  font-size: 16px;
}
.image{
  float:right;
}

body{
  background-image:url("https://motionarray.imgix.net/preview-97005-jExedPFe57-low_0004.jpg?w=660&q=60&fit=max&auto=format");
background-repeat:no-repeat;
background-size: cover;
color:white;
align-items: center;}
