.assingn{
  font-size: 20px;
  opacity:4px;
}
@media screen and (min-width: 480px){
    body {
        background-color: black;
        color: white;
    }
}


#me{
  font-size: 16px;
}
.hoby{
  font-size: 16px;
}
.image{
  float:right;
}

body{
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAl1IRwPsNA0rcyYu0x75ttwuWTy8_DzfEwwEkQ7WzVF8V6kRnng");
background-repeat:no-repeat;
background-size: cover;
color:black;
}
#name{
  text-align: center;
}
#about{
  text-align: center;
}
