.assingn{
  font-size: 20px;
  opacity:4px;
}
@media screen and (min-width: 480px){
    body {
        background-color: black;
        color: white;
    }
}


#me{
  font-size: 16px;
}
.hoby{
  font-size: 16px;
}
.image{
  float:right;
}

body{
  background-image:url("https://www.itprotoday.com/sites/itprotoday.com/files/styles/article_featured_standard/public/uploads/2012/06/alive-plant-palm-clouds_0.jpg?itok=vTM8rWmm");
background-repeat:no-repeat;
background-size: cover;
color:black;
}
#name{
  text-align: center;
}
#about{
  text-align: center;
}
