.assingn{
  font-size: 20px;
  opacity:4px;
}
@media screen and (min-width: 480px){
    body {
        background-color: black;
        color: white;
    }
}
#me{
  font-size: 16px;
}
.hoby{
  font-size: 16px;
}
.image{
float:right;
}

body{
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTHq1-V5kql2C81Rti0yHtC14G8DGqgnATnmg0QQINZg8yhu8H");
background-repeat:no-repeat;
background-size: cover;
color:white;
border: 5px solid blue
font-family:cursive;
}
#name{
  text-align: center;
  font-family: 'Aclonica';
  font-size: 22px;
}
#about{
  text-align: center;
  color: yellow;
}
html{
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTHq1-V5kql2C81Rti0yHtC14G8DGqgnATnmg0QQINZg8yhu8H");
  background-repeat:no-repeat;
  background-size: cover;}
#about{
  background-color: black;
  text-shadow: blue;
}
#hoby{
  text-align: : center;
  color:red;
  font-size: 19px;
}
